@import '~bootstrap/scss/bootstrap.scss';
@import 'bootstrap-icons/font/bootstrap-icons.css';

body {
  padding-top: 5rem;
}

.img-thumbnail {
  border: 0 none;
  box-shadow: none;
}

.title-icon {
  font-size: 3em;
  font-style: normal;
}

.bi-clock {
  font-size: 3em;
  font-style: normal;
}

.bi-plus-lg {
  font-size: 1.5em;
  margin-left: 1em;
}

.pointer {
  cursor: pointer;
}
